@import 'mobileMainMenu';
@import 'mobileBaseLayout.scss';
@import 'resourcePage';
@import 'technologyMenu';
@import 'nextRound';
@import 'warInfo';

* {
    padding: 0;
    margin: 0;
    color: black;
}