.playerBase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #center {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        #resourcesLeft {
            width: 20vw;
            height: 60vh;
            background-color: rgb(209, 131, 131);
        }
        #base {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 85vh;
            width: 55vw;
            div {
                div {
                    height: 50px;
                    width: 50px;
                    background-color: cornflowerblue;
                    margin: 5px;
                }
            }
            #leftRow {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                #topL {

                }
                #middleL {

                }
                #bottomL {

                }
            }
            #middleRow {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                #topM {

                }
                #middleM {

                }
                #bottomM {

                }
            }
            #rightRow {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                #topR {

                }
                #middleR {

                }
                #bottomR {

                }
            }
        }
        #buildMenu {
            width: 25vw;
            height: 45vh;
            width: 25vw;
            background-color: rgb(190, 190, 43);
        }
    }
    #bottomTabs {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 15vh;
        width: 100vw;
        .bTab {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            outline: none;
            height: 40%;
            width: 100px;
            margin: 5%;
            border-radius: 15px;
            color: white;
        }
        #techTab {
            background-color: rgb(129, 105, 105);
        }
        #resourceTab {
            background-color: rgb(102, 0, 0);
        }
    }
}